* { box-sizing: border-box; }

nav { 
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    width: 100%;
    margin-top: -190px;
    font: 18px;
}
@media(max-width:1060px) {
    nav {
        padding-top: 30px;
    }
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .4s ease-in-out;
}

.topmenu {
    text-align: center;
    padding: 10px 0;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}

.topmenu > li:last-child:after {
    background: none;
    box-shadow: none;
}
.topmenu > li > a {
    
    padding: 12px 26px;
    color: #fff;
    text-transform: uppercase;
    font-weight: light;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Times New Roman', sans-serif;
}
.topmenu li a:hover { color: #c0a97a;}
.topmenu li a:active { color: #c0a97a;}
.submenu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
}
.submenu li a {
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid #efefef;
    font-size: 16px;
    color: #484848;
    font-family: 'Kurale', serif;
}
.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.logo {
    text-align: center;
    width: 80%;
    position: fixed;
    left: 10%;
    top: 15px;
    color: #fff;
    font-family: 'Poiret One';
    font-size: 30px;
    z-index: 9999;
    font-weight: 500;
}




.menu_language_eng_version {
    position: fixed;
    right: 5%;
    top: 68px;
    z-index: 9999;
    font-size: 18px;
}
.menu_language_eng_version {
    position: fixed;
    right: 5%;
    top: 68px;
    z-index: 9999;
    font-size: 18px;
}
@media (max-width: 1060px){
.menu_language_eng_version {
    top: 20px;
}
}
@media (max-width: 740px){
.menu_language_eng_version {
    top: 120px;
}
nav {
    padding-top: 39px
}
}
@media (max-width: 700px){
.menu_language_eng_version {
    top: 20px;
}
}
.menu_language_eng_version a {
    color: #d8835e;
}
.menu_language_eng_version a:hover{
    color: #5e83d8;
}

.menu_language {
    position: fixed;
    right: 5%;
    top: 68px;
    z-index: 9999;
    font-size: 18px;
}
.menu_language {
    position: fixed;
    right: 5%;
    top: 68px;
    z-index: 9999;
    font-size: 18px;
}
@media (max-width: 1300px){
.menu_language {
    top: 20px;
}
}
@media (max-width: 840px){
.menu_language {
    top: 120px;
}
nav {
    padding-top: 39px
}
}
.menu_language a {
    color: #d8835e;
}
.menu_language a:hover{
    color: #5e83d8;
}

@media (max-width: 700px){
.mobile_menu {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	background: #fff;
	z-index:998;
}
    .logo {
        top: 70px;
        color: #000;
        position: absolute;
        visibility: hidden;
        z-index: 990;
    }
.menu_language {
    position: absolute;
    top: 22px;
    z-index: 998;
}

    nav { 
    background: rgba(0, 0, 0, 0);
}
    /* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.topmenu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 15px 0;
  list-style: none;
  text-align: center;
  background-color: #4c4c4c;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.topmenu li {
    width: 100%;
}



/* элементы меню */
.submenu li a {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.submenu li a:hover {
  background-color: #CFD8DC;
}

/*Открыть/закрыть меню*/
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .topmenu {
  visibility: visible;
  left: 0;
}
/*Анимация кнопки*/
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.topmenu {
  transition-duration: .25s;
}
.submenu li a {
  transition-duration: .25s;
}
}

